<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Personas</title>

<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<div>
			<a href="/home/save/0" class="btn btn-primary">Agregar</a>
		</div>
		<div style="margin-top:20px;">
			<form th:action="@{/logout}" method="post">
				<input type="submit" class="btn btn-success" value="Cerrar sesión">
			</form>
		</div>
		<h2 th:if="${list.isEmpty()}">No hay personas</h2>
 		<div th:if="${!list.isEmpty()}">
			<h2>Personas</h2>
			<table class="table">
				<thead>
					<tr>
						<th>idLibro</th>
						<th>titulo</th>
						<th>year</th>
						<th>genero</th>
						<th>numeroPaginas</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="libro : ${list}">
						<td th:text="${libro.idLibro}">
						<td th:text="${libro.titulo}">
						<td th:text="${libro.year}">
						<td th:text="${libro.genero}">
						<td th:text="${libro.numeroPaginas}">
						<td><a class="btn btn-info"
							th:href="@{/home/save/{id}(id=${libro.idLibro})}">Editar</a></td>
						<td><a class="btn btn-danger"
							th:href="@{/home/delete/{id}(id=${libro.idLibro})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>